.down
{
    position: relative;
    width: 25px;
    height: 40px;
    border-radius: 15px;
    background: transparent;
    border: 1px solid #ffff;
    overflow: hidden;
}

.down:before
{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ffff;
    left: 50%;
    top: 5px;
    transform: translate(-50%, 0);
    animation: animate 1s linear infinite;
}

.down:after
{
    content: '';
    position: absolute;
    width: 4px;
    height: 8px;
    border-radius: 50%;
    background: #ffff;
    left: 50%;
    top: 7px;
    transform: translate(-50%, 0);
    border-radius: 3px
}

@keyframes animate
{
    0%
    {
        transform: translate(-50%, 10px);
        opacity: 0;
    }
    80%
    {
        transform: translate(-50%, 30px);
        opacity: 1;
    }
    100%
    {
        transform: translate(-50%, 100px);
        opacity: 0;
    }
}